
@font-face{
    font-family: LittleSunshine;
    src: url(../Fonts/A\ little\ sunshine.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* START OF THE HEADER */
header{
    height: 105px; 
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
}
header h3{
    font-size: 25pt;
    font-family: LittleSunshine, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 15px;
}
#headerLeft{
    width: 50%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
#nav{
    width: 50%;
    text-align: right;
}
nav a{
    margin-right: 20px;
    text-decoration: none;
    font-family: LittleSunshine, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18pt;
    color:  rgb(80, 78, 78);  
}
nav a:hover{
    font-weight: bold;
    text-decoration: underline 1px red;
}
/* END OF THE HEADER */

/* START OF THE MAIN CONTENT */
.text{
    margin: 15px;
}
.text p{
    margin: 10px;
}
table{
    border-collapse: collapse;
    text-align: center;
    margin: 15px auto;

}
th, tr, td{
    border: 1px solid rgb(211, 86, 86);
    padding: 5px;
}
#aboutImage{
    display:flex;
    justify-content: center;
}
/* END OF THE MAIN CONTENT */

/* START OF THE FOOTER */
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.socialMedia{
    text-align: center;
    font-size: 10pt;
    padding: 15px;
}
#twitter, #facebook, #insta{
    width: 20%;
}
#twitter:hover{
    transform: scale(1.1);
}
#facebook:hover{
    transform: scale(1.1);
}
#insta:hover{
    transform: scale(1.1);
}
/* END OF THE FOOTER */